.about {
	display: flex;
}

.about__item {
	position: relative;

	&:not(:last-child) {
		margin-right: 30px;
	}
}

.about__title {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	min-height: 70px;
	position: absolute;
	bottom: 0;
	left: 0;

	@include content-title($secondary-title-color);

	background-color: rgba(47, 48, 58, 0.8);
}
