.features {
	display: flex;
}

.features__item {
	min-width: 270px;

	&:not(:last-child) {
		margin-right: 30px;
	}
}

.features__thumb {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	min-height: 120px;
	margin-bottom: 30px;

	background-color: #f5f4fa;
	border-radius: 4px;
}

.features__title {
	margin-bottom: 10px;

	@include content-title($main-title-color);
}

.features__text {
	font-size: $main-text-fs;
	line-height: 1.71;
	letter-spacing: $main-text-ls;
}
