.footer {
	padding-top: 60px;
	padding-bottom: 60px;

	background-color: $secondary-bg-color;

	&__container {
		display: flex;
		align-items: baseline;
	}

	&__logo {
		display: block;
		margin-bottom: 20px;
	}

	&__left-wrap {
		margin-right: 70px;
	}

	&__right-wrap {
		margin-left: auto;
	}

	&__right-text,
	&__central-text {
		margin-bottom: 20px;

		@include content-title($secondary-title-color);

		font-weight: 700;
	}
}

.address__item {
	font-style: normal;
	font-size: $main-text-fs;
	line-height: 1.71;
	letter-spacing: $main-text-ls;
	color: $secondary-title-color;

	& + & {
		color: rgba(255, 255, 255, 0.6);
	}

	&:not(:last-child) {
		margin-bottom: 9px;
	}
}

.address__link {
	color: inherit;
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

	&:hover,
	&:focus {
		color: $accent-color;
	}
}

.subscribe__email {
	width: 358px;
	min-height: 50px;
	padding: 15px;
	margin-right: 12px;

	color: $secondary-title-color;
	background-color: transparent;
	border: 1px solid rgba(255, 255, 255, 0.3);
	border-radius: 4px;
	cursor: pointer;
}

.subscribe__button {
	display: inline-flex;
	justify-content: center;
	align-items: center;
}

.subscribe__icon {
	margin-left: 10px;
	fill: currentColor;
}
