.button {
	display: block;
	margin: 0 auto;
	min-width: 200px;
	min-height: 50px;

	font-weight: 700;
	font-size: 16px;
	line-height: 1.87;
	letter-spacing: 0.06em;

	color: $secondary-title-color;
	background-color: $accent-color;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	border-color: transparent;
	cursor: pointer;
}
