.section {
	padding-top: 94px;
	padding-bottom: 94px;

	&__title {
		margin-bottom: 50px;

		@extend %section-title-styles;

		color: $main-title-color;
	}

	&--no-padding-top {
		padding-top: 0;
	}

	&--another-background {
		background-color: #f5f4fa;
	}
}
